.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.board__line {
  display: flex;
  gap: 5px;
}

.board__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  width: 45px;
  height: 45px;
  font-size: 25px;
  text-transform: uppercase;
}

.board__tile--green {
  background-color: lightgreen;
}
.board__tile--yellow {
  background-color: yellow;
}
.board__tile--gray {
  background-color: lightgray;
}

@media only screen and (min-width: 768px) {
  .board__tile {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}
